<h1>New Parent Record</h1>
<p>The nd_workflow_approval_available is not passed as a local, so it will default to allowing workflow approvals to be added.</p>

<%= render 'form' %>

<%= link_to 'Back', parent_records_path %>
