<p id="notice"><%= notice %></p>

<p>
  <strong>Parent desc:</strong>
  <%= @parent_record.parent_desc %>
</p>

<%= link_to 'Edit', edit_parent_record_path(@parent_record) %> |
<%= link_to 'Back', parent_records_path %>
